/*.peer{
    background-image: url("https://media.istockphoto.com/id/1422725173/vector/qr-code-icon-for-design-easily-editable.webp?a=1&b=1&s=612x612&w=0&k=20&c=OHBTYwnTg5c4guJIHdVh0k47W2cWpuWMnMzRzp2Ow50=");
    height: 410px;
    background-size: cover;
    background-position: center;
}*/